@import "../mixins";

mat-drawer-container {
  width: 100%;
  height: 100%;

  mat-drawer {
    padding: 20px;
  }

  mat-drawer-content {
    @include flex(flex-start, baseline);
    height: 100%;
    position: relative;
    padding: 100px 50px;

    .menu-button {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .create-template {
      width: 280px;
      height: 150px;
    }
  }
}



