@mixin flex($justify-content, $align-items, $flex-direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  gap: $gap;
}
